# Ignore Python cache files
__pycache__
*.py[cod]
.pytest_cache/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Ignore any IDE or editor files
.vscode/
.idea/
*.swp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore version control files
.git
.gitignore

# Ignore logs and temp files
*.log
*.tmp
*.temp

# Ignore environment files
.env
.venv
env/
venv/
*.conda
*.condarc

# Distribution / packaging
.Python
build/
dist/
lib/
lib64/
*.egg-info/